version: '3'
services:
  reverseproxy:
    container_name: reverseproxy
    build: .
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf/
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./https/nginx/logs:/var/log/nginx/

    ports:
      - "443:443"

networks:
  default:
    external:
      name: punmaew
